{% extends 'posts/base.html' %}

{% block banner %}
<div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>Вы в одном из наших сообществ</h4>
              <h2>Надеюсь Вам интересно</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block posts %}
<section class="blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
{% for p in posts %}

<div class="col-lg-12">
    <div class="blog-post">
      <div class="blog-thumb">
        <img src="{{p.image.url}}" width="730" height="322" alt="">
      </div>
      <div class="down-content">
        <span>{{ p.tags.all|join:", " }}</span>
        <a href="{{p.get_absolute_url}}"><h4>{{ p.title }}</h4></a>
        <ul class="post-info">
          <li><a href="#">{{p.author}}</a></li>
          <li><a href="#">{{ p.pub_date|date:'j M, Y' }}</a></li>
          {% if p.comments.count == 0 %}
          <li><a href="#">Нет комментариев</a></li>
          {% else %}
          <li><a href="#">Комментариев: {{p.comments.count}}</a></li>
          {% endif %}
          {% if p.likes.all.count != 0 %}
          <li><a href="#">Лайки: {{p.likes.all.count}}</a></li>
          {% else %}
          <li><a href="#">Нет лайков</a></li>
          {% endif %}
        </ul>
        </ul>
        <p>{{p.content}}</p>
        <div class="post-options">
          <div class="row">
            <div class="col-6">
              <ul class="post-tags">
                <li><a href="{{p.category.get_absolute_url}}">{{p.category}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-lg-12">
    <div class="main-button">
      <a href="{% url 'posts' %}">Посмотреть все посты</a>
    </div>
  </div>
</div>
</div>
</div>
<div class="col-lg-4">
  <div class="sidebar">
    <div class="row">
      <div class="col-lg-12">
        <div class="sidebar-item search">
          <form id="search_form" name="gs" method="GET" action="{% url 'index' %}">
            <input type="text" name="q" class="searchText" placeholder="Кликни для поиска" autocomplete="on">
          </form>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="sidebar-item recent-posts">
          <div class="sidebar-heading">
            <h2>Последние посты</h2>
          </div>
          <div class="content">
            <ul>
              {% for p in three_post %}
              <li><a href="{{p.get_absolute_url}}">
                <h5>{{p.title}}</h5>
                <span>{{ p.pub_date|date:'d m, Y' }}</span>
              </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="sidebar-item categories">
          <div class="sidebar-heading">
            <h2>Категории</h2>
          </div>
          <div class="content">
            <ul>
              {% for c in cats %}
              <li><a href="{{c.get_absolute_url}}">- {{c.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="sidebar-item tags">
          <div class="sidebar-heading">
            <h2>Tag Clouds</h2>
          </div>


<!-- тэги -->
          <!-- <div class="content">
            <ul>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Creative</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">Inspiration</a></li>
              <li><a href="#">Motivation</a></li>
              <li><a href="#">PSD</a></li>
              <li><a href="#">Responsive</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>
{% endblock %}