{% extends 'posts/base.html' %}

{% block banner %}
<div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4> Пользователь -> {{ user }}</h4>
              <h2>Это все его посты</h2>
              <p>Подписчики: {{subscribers}}    Подписки: {{subscription}}</p>
              <div class="d-flex" style="margin-top: 24px;"></div>
                {% if not follow_bool %}
                <a href="{% url 'follow' user.username %}"><button type="submit" class="btn btn-success">Подписаться</button></a>
                {% else %}
                <a href="{% url 'unfollow' user.username %}"><button type="submit" class="btn btn-danger">Отписаться</button></a>
                {% endif %}
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block posts %}
<section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              <!-- Пост  -->
              {% for p in posts %}
              <div class="col-lg-6">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <img src="{{p.image.url}}" alt="">
                  </div>
                  <div class="down-content">
                    <span>{{ p.tags.all|join:", " }}</span>
                    <a href="{{p.get_absolute_url}}"><h4>{{p.title}}</h4></a>
                    <ul class="post-info">
                      <!-- <li><a href="#">{{p.author}}</a></li> -->
                      <li><a href="#">{{ p.pub_date|date:'j M, Y' }}</a></li>
                      {% if  p.comments.count == 0 %}
                      <li><a href="#">Нет комментариев</a></li>
                      {% else %}
                      <li><a href="#">Комментариев: {{p.comments.count}}</a></li>
                      {% endif %}
                      {% if p.likes.all.count != 0 %}
                      <li><a href="#">Лайки: {{p.likes.all.count}}</a></li>
                      {% else %}
                      <li><a href="#">Нет лайков</a></li>
                      {% endif %}
                    </ul>
                    <p>{{p.content|truncatechars:120}}</p>
                    <div class="post-options">
                      <div class="row">
                        <div class="col-lg-12">
                          <ul class="post-tags">
                            <li><i class="fa fa-tags"></i></li>
                            <li><a href="{{p.category.get_absolute_url}}">{{p.category}}</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Конец поста -->
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form id="search_form" name="gs" method="GET" action="{% url 'index' %}">
                    <input type="text" name="q" class="searchText" placeholder="Кликни для поиска" autocomplete="on">
                  </form>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2>Последние посты</h2>
                  </div>
                  <div class="content">
                    <ul>
                      {% for p in three_post %}
                      <li><a href="{{p.get_absolute_url}}">
                        <h5>{{p.title}}</h5>
                        <span>{{ p.pub_date|date:'m d, Y' }}</span>
                      </a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item categories">
                  <div class="sidebar-heading">
                    <h2>Категории</h2>
                  </div>
                  <div class="content">
                    <ul>
                      {% for c in cats %}
                      <li><a href="{{ c.get_absolute_url }}">- {{c.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
{% endblock %}